html {
    scroll-behavior: smooth; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    font-family: 'kanit', sans-serif;
    margin: 0; /* ลบระยะขอบ */
    padding: 0; /* ลบระยะห่างภายใน (ถ้ามี) */
    box-sizing: border-box; /* เพื่อควบคุมการคำนวณพื้นที่ */
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 100%;
}

nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: fixed; 
  z-index: 20;
  backdrop-filter: blur(10px);
}  

ul {
    list-style: none; 
    display: flex;
    gap: 50px; 
    margin-right: 10px;
    padding: 0 10px;
  }
  
  li a { 
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  color: var(--text-color);
  }
  
  label {
  width: 50px;
  height: 30px;
  position: fixed; /* ทำให้ label อยู่ในตำแหน่งคงที่ */
  bottom: 20px; /* ระยะจากขอบล่าง */
  right: 20px; /* ระยะจากขอบขวา */
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 1000; /* เพื่อให้อยู่เหนือองค์ประกอบอื่น */
  }
  
  label:after {
  content: ""; /* ต้องใส่เพื่อสร้างองค์ประกอบเพิ่มเติม */
  width: 20px;
  height: 20px;
  position: absolute; /* เปลี่ยนจาก `relative` เป็น `absolute` */
  top: 5px; /* เลื่อนลงมาให้พอดีกับวงกลม */
  left: 5px; /* ระยะขอบจากซ้าย */
  background: linear-gradient(180deg, #ffcc89, #d8860b); /* สีวงกลม */
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* เงาของวงกลม */
  transition: 0.3s ease; /* ทำให้การเคลื่อนที่ลื่นไหล */
  }
  
  
  input {
  width: 0;
  height: 0;
  visibility: hidden;
  }
  
  input:checked + label {
  background: #242424;
  }
  
  input:checked + label:after {
  left: 45px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
  }
  
  label:active:after {
  width: 35px;
  }

.about {
    padding: 3px 25px;
    background-color: #03500a;
    border: 2px;
    border-radius: 100px;
    color: #ffffff;
}
  
.main:hover {
    cursor: pointer;
    color: #ff0000;
    transition: transform 0.3s, color 0.3s;
}
  
.work:hover {
    cursor: pointer;
    color: #00ff2a;
    transition: transform 0.3s, color 0.3s;
}
.rules:hover {
  
    cursor: pointer;
    color: #eeff00;
    transition: transform 0.3s, color 0.3s;
}
  
.about:hover {
    cursor: pointer;
    color: #00e1ff;
    transition: transform 0.3s, color 0.3s;
}
  
.logo img {
    margin: 0 auto; 
    width: 120px;
    height: 50px;
    padding-left: 15px;
    padding-top: 10px;
}

.topic {
    width: 260px;
    padding: 3px 30px;
    background-color: #235144;
    border-radius: 50px;
    color: #ffffff;
    margin: 0 auto;
    font-size: 35px;
    text-decoration: none;
}

.container2 {
    max-width: 100%;
    padding-top: 60px;
}

.topic2 {
    width: 150px;
    padding: 3px 30px;
    background-color: #950709;
    border-radius: 50px;
    color: #ffffff;
    margin: 0 auto;
    font-size: 35px;
    text-decoration: none;
}

.images-main img {
    margin: 0 auto;
    padding-top: 20px;
    width: 608px;
    height: 387px;
    border-radius: 50px;
}

footer {
  position: relative; /* ใช้ relative เพื่อให้ footer อยู่ภายใน flow ของหน้า */
  bottom: 0;
  width: 100%; /* ความกว้างเต็มหน้า */
  background-color: #D9D9D9; /* สีพื้นหลัง */
  color: #2D2D2D; /* สีข้อความ */
  padding: 20px 10px; /* เว้นระยะภายใน */
  text-align: center;
  box-sizing: border-box; /* รวม padding และ border ในการคำนวณขนาด */
  overflow: hidden; /* ป้องกันการล้น */
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  }
  
  /* ลิงก์ใน Footer */
  footer a {
    color: #4CAF50; /* สีลิงก์ */
    text-decoration: none; /* เอาเส้นใต้ลิงก์ออก */
    margin: 0 10px; /* เว้นระยะระหว่างลิงก์ */
  }
  
  footer a:hover {
    text-decoration: underline; /* เพิ่มเส้นใต้เมื่อชี้เมาส์ */
  }
  
  /* กำหนดรูปแบบการแสดงผลสำหรับ Footer แยกส่วน */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* กระจายเนื้อหา */
    align-items: center;
    max-width: 100%; /* จำกัดความกว้าง */
    margin: 0 auto; /* จัดให้อยู่ตรงกลาง */
    padding: 10px;
  }
  
  .footer-container div {
    flex: 1;
    margin: 10px;
    text-align: left; /* จัดข้อความชิดซ้าย */
  }
  
  .footer-container div h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #2D2D2D;
    color: var(--footer-text-color);
  }
  
  .footer-container div p {
    margin: 0;
    font-size: 14px;
    color: #6B6B6B;
    color: var(--footer-p-color);
  }
  
  .footer-container ul {
    list-style: none; /* เอาสัญลักษณ์จุดออก */
    padding: 0;
  }
  
  .footer-container ul li {
    margin-bottom: 5px;
  }
  
  .social-icons h3 {
    font-weight: bold;
  }
  
  
  /* สไตล์สำหรับ Social Media */
  .social-icons a {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    color: #2D2D2D;
    color: var(--footer-text-color);
}
  
.social-iconsimg {
    justify-content: flex-end;
    text-align: right;
    display: flex;
}
  
.social-iconsimg img{
    width: 25px;
    height: 25px;
}
  
.social-icons a:hover {
    color: #4CAF50;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* เรียงแนวตั้งในจอขนาดเล็ก */
        text-align: center; /* จัดข้อความให้อยู่กลาง */
    }
}

/* Default Light Mode */  
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a73e8;
    --nav-bg-color: #ffffff;
    --li-text-color: #000000;
    --button-bg-color: #007BFF;
    --button-text-color: #ffffff;
    --h2-bg-color: #2e3033;
    --h2-text-color: #ffffff;
    --main-bg-color: #235144;
    --footer-bg-color: #D9D9D9;
    --footer-text-color: #2D2D2D;
    --footer-p-color: #2B2B2B;
}
  
/* Dark Mode */
[data-theme="dark"] {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
    --link-color: #bb86fc;
    --nav-bg-color: #333333;
    --li-text-color: #ffffff;
    --button-bg-color: #6200ee;
    --button-text-color: #ffffff;
    --h2-bg-color: #ffffff;
    --h2-text-color: #000000;
    --main-bg-color: #950709;
    --footer-bg-color: #121315;
    --footer-text-color: #ffffff;
    --footer-p-color: #6E7072;
}

/* For larger screens */
@media (min-width: 769px) {
    .hamburger {
      display: none;  /* Hide hamburger icon */
    }
  
    ul {
      display: flex;  /* Display menu horizontally */
      flex-direction: row;
    }
  
    li {
      padding: 0 20px;
    }
}

/* Style for Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {

  .footer-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    text-align: center;
  }

  label {
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 25px;
  }

  label:after {
    width: 18px;
    height: 18px;
  }

  ul {
    display: none;  /* Hide menu links by default */
    flex-direction: column;  /* Stack menu items vertically */
    position: absolute;
    top: 60px;  /* Position the menu below the navbar */
    right: 0;
    width: 100%;
    background-color: var(--nav-bg-color);  /* Background for the menu */
  }

  .hamburger {
    display: block;  /* Show the hamburger icon */
    font-size: 30px;
    cursor: pointer;
    padding-right: 10%;
    z-index: 1000; /* Make sure it's above other elements */
  }

  .hamburger:hover {
    color: #03500a; /* Optional hover effect */
  }

  ul.show-menu {
    display: flex;  /* Show the menu when the "show-menu" class is added */
  }

  li {
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  li a {
    font-size: 20px;
    color: var(--text-color);
  }
}

.gridcontainer {
    display: grid;
    grid-template-rows: repeat(1fr);
    grid-template-columns: repeat(1fr);
}

button:hover {
    background-color: #03500a;
    color: white;
}

.image {
    border-radius: 50px;
}

footer {
    width: 100%;
    position: relative; /* หรือ absolute, fixed ขึ้นอยู่กับโครงสร้าง */
    bottom: 0;
    width: 100%;
    clear: both;
}

html {
    min-width: 130vh;
    width: 100%;
  }
