html {
    scroll-behavior: smooth; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    font-family: 'kanit', sans-serif;
    margin: 8px; 
    padding: 0; 
    box-sizing: border-box;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
} 

nav {
    max-width: 1800px;
    width: 90vw;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    position: fixed; 
    z-index: 20;
    backdrop-filter: blur(10px);
  }

ul {
    list-style: none; 
    display: flex;
    gap: 50px; 
    margin-left: 10px;
}

li a { 
  text-decoration: none; 
  font-size: 20px;
  color: #000000;
}

.work {
    padding: 3px 25px;
    background-color: #03500a;
    border: 2px;
    border-radius: 100px;
    color: #ffffff;
}
  
.main:hover {
    cursor: pointer;
    color: #ff0000;
    transition: transform 0.3s, color 0.3s;
}
  
.work:hover {
    cursor: pointer;
    color: #00ff2a;
    transition: transform 0.3s, color 0.3s;
}
  
.rules:hover {
    cursor: pointer;
    color: #eeff00;
    transition: transform 0.3s, color 0.3s;
}
  
.about:hover {
    cursor: pointer;
    color: #00e1ff;
    transition: transform 0.3s, color 0.3s;
}
  
.logo img {
    margin: 0 auto; 
    width: 120px;
    height: 50px;
}

.image-container img {
    margin-top: 5%;
    width: auto;
    height: 30%;
    border-radius: 10px;
    transition: transform 0.3s;
}


.info {
    margin-top: 20px;
    text-align: center;
}

.info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info p {
    font-size: 18px;
    color: #666;
}

.buttons {
    display: flex;
    flex-direction: column; /* จัดปุ่มในแนวตั้ง */
    align-items: center;    /* จัดให้อยู่กึ่งกลาง */
    gap: 10px;              /* ระยะห่างระหว่างปุ่ม */
}

.buttons a {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    max-width: 300px;
}

.buttons .btn-dark {
    background-color: #333;
}

.buttons .btn-success {
    background-color: #28a745;
}

.buttons .btn-danger {
    background-color: #dc3545;
}

.buttons .btn-warning {
    background-color: #ffc107;
}

.image-container img {
    transition: transform 0.3s ease;
  }
  

 